*{
  box-sizing: border-box;
}

/* App blackground and dimensions given */
.App {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  text-align: center;
 
}

/* Heading styling, sizing, color */
.header{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(250, 250, 250, 0.2);
  color:rgb(70, 68, 68);
  padding: 20px 30px;
  text-align: left;
  border-bottom: 2px solid rgba(250, 250, 250, 0.2);
}

/* Logo sizing and view */
.logo {
  height: 60px;
  margin-right: 30px;
  opacity: 1;
}

/* Text input styling */
.text-input{
  display:flex;
  flex-direction:row;
  padding:5px;
  position: fixed;
  bottom: 0;
  background: rgba(250, 250, 250, 0.5); 
  height: 40px;
  width: calc(100% - 5px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  align-items: center;
  
}

/* Interior input box styles */
.text-input > input {
  width: 100%;
  height: 70%;
  position: absolute;
  padding: 10px;
  font-size: 16px;
  flex-grow:2;
  border: solid #2c3e50);
  background: #2c3e50);
  border-radius:15px;
}

input:focus{
  outline: none;
}

/* Styles for "send" button */
.text-input > button{
  width: 30px;
  height: 20px;
  position: absolute;
  left: calc(100% - 30px);
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(70, 68, 68, 0.1);
  border-radius:15px;
  background:rgb(102, 102, 102);
  color: white;
  
}

/* Style for hovering over button*/
.text-input button:hover {
  background: #141c24);
  border: 1px  rgb(70, 68, 68, 0.1);
  color: black;
}

/* Chat containers */
.container {
  border: 2px solid white;
  background-color: black;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  text-align: left;
  color: white;
  height: 45px;
  width: 300px;
  align-items: center;
  display:flex;
  flex-direction:row;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: black;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

.text.input > button[disabled] {
  color:white;
  background: grey;
  cursor: default;
}


.bubble-wrap{
  width:100%;
  padding:2px 5px;
  display:flex;
  position: relative; 
  height: 40px;
}

.bubble-wrap[from="me"]{ 
  flex-direction:row-reverse;
}

.bubble{

  border-radius:15px;

  padding: 8px 12px;

  font-size: 14px;

  position:relative;

  border: 1px solid white;

  margin-left:5px;

}

/*.bubble:before{

  content:"";

  width:12px;

  height:12px;

  transform:rotate(45deg);

  background:black;

  border: 2px solid white;

  position:absolute;

  left:-6px;

  top:10px

} */

.bubble-wrap[from="me"] .bubble:before{

  left:auto;

  /*right:-6px;*/

}

.bubble:after{

  content:"";

  background:black;

  position:absolute;

  top:0;left:0;right:0;bottom:0;

  border-radius:15px;

}

.bubble > span {

  color:white;

  position:relative;

  z-index:101;

}

.bubble-name{

  position: absolute;

  color: white;

  top: -5px;

  font-size:10px;

  left: 30px;

}

.messages{
  height: calc(100%-85px);
  overflow:auto;
  padding-top:10px;
}